################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.tlog/
*.opendb
*.sdf
*.log
*.cache
*.obj
*.pdb
*.exp
*.iobj
*.ipdb
*.lib
*.htm
*.lastbuildstate
*.unsuccessfulbuild
*.tlog
gm_navigation/gm_navigation.VC.db
